<div class="nested-fields">
  <div class="field">
    <%= f.label :icon %> 
    <br>
    <%= f.text_field :icon %> 
  </div>
  <div class="field">
    <%= f.label :url_link %> 
    <br>
    <%= f.text_field :url_link %> 
  </div>
  <%= link_to_remove_association 'remove link', f %> 
</div>
