<p id="notice"><%= notice %></p>

<h1>Listing Social Modules</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @social_modules.each do |social_module| %>
      <tr>
        <td><%= link_to 'Show', social_module %></td>
        <td><%= link_to 'Edit', edit_social_module_path(social_module) %></td>
        <td><%= link_to 'Destroy', social_module, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Social module', new_social_module_path %>
